ART_WORKSHOP_IMAGE_JOB_API_URL=http://127.0.0.1:8787
ART_WORKSHOP_API_HOST=127.0.0.1
ART_WORKSHOP_API_PORT=8787
ART_WORKSHOP_STORAGE_DIR=server-data
ART_WORKSHOP_TRUST_PROXY_HEADERS=true
ART_WORKSHOP_IP_GEO_API_URL=https://freeipapi.com/api/json/{ip}
ART_WORKSHOP_IP_GEO_TIMEOUT_MS=8000
WAVESPEED_API_KEY=
